# .flake8

# Ignore certain error codes
ignore = E501,W293

# Set the maximum line length
max-line-length = 80

# Exclude specific directories or files
exclude =
    .git,
    __pycache__,
    docs

# Select specific error codes to check
select = E,W
